@import '02-variables.less';
@import '02-mixins.less';

@main-menu-link-color:      #66c;
@main-menu-link-hover-color:darken(@main-menu-link-color, 16%);

/*
|---------------------------------------
| Container and Common Styles
|---------------------------------------
*/
.main-menu { // Container
    background: #1f2226;
    color: #74777b;
    .fixed-on-top;
    left: 0;
    .transition(width .2s);
    height: 100%;
    width: 280px;
    z-index: 1; // It's need for tooltip appeas above main content

    A {
        color: @main-menu-link-color;
        text-decoration: none;
        display: block;

        &:hover { color: @main-menu-link-hover-color;}
    }

}

/*
|---------------------------------------
| Logo
|---------------------------------------
*/
.p-front .a-logo { cursor: default}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

    .a-logo {
        background: transparent url(/a/img/logo/forex-club-x2.png) no-repeat;
        .background-size(100% 100%);

        IMG { visibility: hidden; }
    }
}

/*
|---------------------------------------
| Main Menu
|---------------------------------------
*/
.nav { //  UL
    display: table;
    *display: block;
    float: ;
    padding: ;
    position: relative;
    width: ;
    *zoom: 1;

    A {
        display: block;
        padding: ;
        width: 100%;
    }

    A.active, A:hover, A:focus { // Hover state
        color: ;
        background: ;
        text-decoration: none;
    }
}

.mm-menu { // First Level LI
    display: table-cell;
    *display: block;
    *float: left;
    margin: ;
    z-index: 4;
}

// SNIPPET:lemmlabel — First Level Menu Item Label

// There is the dropdown menu in the secondary menus file

/*
|-------------------------------------------------------------------------------
| TABLETS AND DESKTOPS: 768px and up
|-------------------------------------------------------------------------------
*/

@media only screen and (min-width: 768px) {
    .tt-company { // Company Card Tooltip
        top: 33em / 13;
        width: 400px;

        H1, H2 {
            font-size: 100%;
            display: inline-block;
            letter-spacing: normal;
            line-height: inherit;
            padding: 0 0 (5em / 13);
        }

        H1:after { content: '.'; }

        ADDRESS, P { margin-bottom: 0;}

        I {
            font-style: normal;
            color: #000;
        }
    }
}

/*
|-------------------------------------------------------------------------------
| OLD SCHOOL DESKTOP MONITORS (XGA: 1024x768)
|-------------------------------------------------------------------------------
*/
@media only screen and (max-width: 1199px) {

    .main-menu { width: 88px; }

    .a-logo {
        // @see background in 02-sprites
        display: block;
        height: 125px;
        width: 88px;

        IMG { display: none; }
    }

    // Company Card Tooltip
    .tt-company { top: 55em / 13; }

}

/*
|-------------------------------------------------------------------------------
| PHONES & SMALL PORTRAIT TABLETS: up to 767px
|-------------------------------------------------------------------------------
*/

@media only screen and (max-width: 767px) {

    /* Main menu had transformed to Slide out */

    .slide-out {
        background: @so-bg;
        padding-top: 1px;
        overflow: hidden;
        .fixed-on-top;
        right: 0;
        bottom: 0;
        left: 0;
        visibility: hidden;
        height: 100%;
        width: @so-width;

        UL { width: inherit; }

        LI A {
            color: @so-link-color;
            border-bottom: @so-link-brd-b;
            box-shadow: @so-link-brd-t;
            display: block;
            text-decoration: none;
            text-shadow: @so-link-shadow;
            padding: @so-link-padding;
            width: @so-width;

            &:visited { color: @so-link-color; }

            &:hover, &:active {
                background-color: @so-link-hover-bg;
                color: @so-link-hover-color;
            }
        }
    }
}
