@import '02-variables.less';
@import '02-mixins.less';

/* Hide */
.mob, .mob-inl,
.tbl, .tbl-inl,
.tbl-mob, .tbl-mob-inl
.xga, .xga-tbl,
.xga-inl, .xga-tbl-inl
{ display: none !important; }


.tel {
    color: @text-color;
    cursor: default;
    white-space: nowrap;

    &:hover {
        color: @text-color;
        text-decoration: none;
    }

    I {
        color: @gray-dark;
        font-style: normal;
    }
}

/*
|-------------------------------------------------------------------------------
| LANDSCAPE TABLETS and OLD SCHOOL DESKTOP MONITORS (XGA: 1024x768)
|-------------------------------------------------------------------------------
*/
@media only screen and (max-width: 1199px) {

    /* Hide */
    .pc, .pc-inl, .pc-mob, .pc-mob-inl, .tbl, .tbl-inl { display: none !important; }

    /* Show */
    .xga, .xga-tbl, .xga-pc { display: block !important; }
    .xga-inl, .xga-pc-inl, .xga-tbl-inl  {
        display: inline-block !important;
        *display: inline !important; /* IE7 inline-block hack */
        *zoom: 1;
    }

}


/*
|-------------------------------------------------------------------------------
| PORTRAIT TABLETS: 768–979px
|-------------------------------------------------------------------------------
*/

@media only screen and (min-width: 768px) and (max-width: 979px) {

    /* Hide */
    .pc, .pc-inl, .pc-mob, .pc-mob-inl, .xga, .xga-pc, .xga-inl, .xga-pc-inl { display: none !important; }

    /* Show */
    .tbl, .tbl-mob { display: block !important; }
    .tbl-inl, .tbl-mob-inl  {
        display: inline-block !important;
        *display: inline !important; /* IE7 inline-block hack */
        *zoom: 1;
    }
}

/*
|-------------------------------------------------------------------------------
| PHONES & SMALL PORTRAIT TABLETS: up to 767px
|-------------------------------------------------------------------------------
*/

@media only screen and (max-width: 767px) {

    /* Hide */
    .tbl, .tbl-inl,
    .tbl-pc, .tbl-pc-inl,
    .xga, .xga-inl,
    .xga-pc, .xga-pc-inl,
    .xga-tbl, .xga-tbl-inl,
    .pc, .pc-inl { display: none !important; }

    /* Show */
    .mob, .pc-mob, .tbl-mob { display: block !important; }
    .mob, .mob-inl,
    .pc-mob-inl,
    .tbl-mob, .tbl-mob-inl {
        display: inline-block !important;
        *display: inline !important; /* IE7 inline-block hack */
        *zoom: 1; }

    .tel {
        color: @link-color;
        cursor: pointer;

        I { color: lighten(@link-color, 20%); }
    }
}
