<!--<noindex>-->
<!--[if lt IE 7]>
<div class="warning-gl">
<p><em>Предупреждение.</em> Ваш браузер <strong>сильно устарел</strong>. Установите <a href="http://browsehappy.com/?locale=ru">любой из современных браузеров</a> или <a href="http://www.google.com/chromeframe/?redirect=true">бесплатный подключаемый модуль для Internet Explorer</a>, — внешний вид веб-сайтов и удобство их использования сразу же улучшатся.</p>
</div>
<![endif]-->

<noscript>
<div class="warning-gl">
<p><em>Предупреждение.</em> В вашем браузере выключен JavaScript, поэтому сайт может выглядеть не лучшим образом. Но вы всегда можете <a href="http://www.google.com/adsense/support/bin/answer.py?hl=ru&amp;answer=12654" target="_blank" rel="nofollow">включить Javascript</a>.</p>
</div>
</noscript>
<!--/noindex-->

<!-- SNIPPET:htenwarningl — In English -->
