<footer class="doc-footer" role="contentinfo">
    <ul class="sec-social-accounts">
    <li class="social-acc-fb"><a href="https://www.facebook.com/ForexClubRu" title="Подписаться на обновления нашей страницы в Facebook">Facebook</a></li>
    <li class="social-acc-tw"><a href="https://twitter.com/FOREX_CLUB_RUS" title="Подписаться на обновления нашей Twitter-ленты">Twitter</a></li>
    <li class="social-acc-gp"><a rel="publisher" href="https://plus.google.com/103611379441239612669" title="Подписаться на обновления нашей ленты в Google+">Google+</a></li>
    <!-- We have 2 G+ accounts -->
    <!-- <li class="social-acc-gp"><a  rel="publisher" href="https://plus.google.com/100997730941389926627">Google+</a></li> -->
    <li class="social-acc-li"><a href="http://www.linkedin.com/company/forex-club" title="Отслеживать нашу компанию в LinkedIn">LinkedIn</a></li>
    <li class="social-acc-vk"><a href="http://vk.com/forexclub" title="Подписаться на обновления нашей страницы во «ВКонтакте»">ВКонтакте</a></li>
    <li class="social-acc-yt"><a href="https://www.youtube.com/user/ForexClubCompany" title="Подписаться на наш YouTube-канал">YouTube</a></li>
    <li class="footer-rss"><a href="http://www.fxclub.org/rss.xml" title="Подписаться на нашу RSS-ленту">LinkedIn</a></li>
    <li class="footer-liame"><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#97;&#110;&#97;&#103;&#101;&#114;&#64;&#102;&#111;&#114;&#101;&#120;&#99;&#108;&#117;&#98;&#46;&#114;&#117;" title="Связаться с нами по почте">Пишите</a></li>
    </ul>
</footer>
