    <header class="doc-header">

        <div class="sec-regional dropdown">

            <span class="tel"><i class="co"></i>8-800-2002-600</span>

            <button class="dropdown-toggle ico-flag ico-ru tbl-pc" title="Русский язык. Выбрать другой язык или филиал">Русский язык. Выбрать другой язык или выбрать филиал</button>

            <nav class="dropdown-menu dropdown-menu-br dropdown-xl slide-out slide-out-right" role="navigation">

                <!-- Languages -->
                <h3 class="mob">Языки и филиалы:</h3>
                <ul class="inline">
                <li><a href="http://www.forex-club.az"><i class="co ico-az"></i>Azərbaycanca</a></li>
                <li><a href="http://forexclub.biz"><i class="co ico-en"></i>English</a></li>
                <li><a href="http://www.fxclub-brasil.com"><i class="co ico-pt"></i>Português</a></li>
                <li class="active"><em>Русский</em></li>
                <li><a href="http://cn.forexclub.biz"><i class="co ico-cn"></i>中文</a></li>
                </ul>

                <hr>

            <!--#include virtual="/_includes/branches.html" -->

            </nav><!-- / .dropdown-menu -->

        </div><!-- / .sec-regional -->

        <!-- Search Form -->
        <form action="/search/" method="get" role="search" class="f-search tbl-pc">
            <input type="search" name="query" class="i-search" placeholder="Финансовые рынки для людей" required="required">
            <button type="submit">Найти</button>
        </form>

    </header>
