<a href="/tools_info_quotes" class="a-chart">
    <figure>
    <header>EUR USD</header>
    <canvas id="chart-01" height="70" width="116"></canvas>
    <figcaption>1.38917 <span class="market-movement up">+0.19%</span></figcaption>
    </figure>
</a>


<script>
// First Chart
var chartData01 = {
    labels : ["January","February","March","April","May","June","July"],
    datasets : [
        {
            fillColor : "rgba(220,220,220,0.5)",
            strokeColor : "rgba(220,220,220,1)",
            pointColor : "rgba(220,220,220,1)",
            pointStrokeColor : "#fff",
            data : [65,59,90,81,56,55,40]
        },
        {
            fillColor : "rgba(151,187,205,0.5)",
            strokeColor : "rgba(151,187,205,1)",
            pointColor : "rgba(151,187,205,1)",
            pointStrokeColor : "#fff",
            data : [28,48,40,19,96,27,100]
        }
    ]

}

var chart01 = new Chart($("#chart-01").get(0).getContext("2d")).Line(chartData01);
</script>
