    <header class="doc-header">

        <!-- Logo / Menu Button in Mobile Version -->
        <button class="btn-menu mob">Forex Club</button>

        <div class="sec-regional dropdown">

            <!-- Phone -->
            <a href="tel:8-800-2002-600" class="tel"><i class="co"></i>8-800-2002-600</a>

            <!-- Locale Selector: Desktop / Tablets -->
            <button class="dropdown-toggle ico-flag ico-ru tbl-pc" title="Русский язык. Выбрать другой язык или филиал">Русский язык. Выбрать другой язык или выбрать филиал</button>

            <!-- Locale Selector: Phones -->
            <button class="btn-menu-secd mob" title="Русский язык. Выбрать другой язык или филиал"><i class="ico-flag ico-ru"></i></button>

            <div class="dropdown-menu dropdown-menu-br dropdown-xl slide-out slide-out-right" role="menu">

                <!-- Languages -->
                <h4 class="mob">Языки и филиалы</h4>
                <ul class="inline">
                <li><a href="http://www.forex-club.az"><i class="co ico-az"></i>Azərbaycanca</a></li>
                <li><a href="http://forexclub.biz"><i class="co ico-en"></i>English</a></li>
                <li><a href="http://www.fxclub-brasil.com"><i class="co ico-pt"></i>Português</a></li>
                <li class="active"><em>Русский</em></li>
                <li><a href="http://cn.forexclub.biz"><i class="co ico-cn"></i>中文</a></li>
                </ul>

                <hr>

                <div class="row">

               <!--  Branches: Russia #1 -->
                <div class="col col-first">
                <h4><i class="ico-flag ico-ru"></i>Россия</h4>
                <ul>
                <li><a href="/filials_dist/"><strong>Интернет</strong></a></li>
                <li><a href="/filials_arhangelsk/">Архангельск</a></li>
                <li><a href="/filials_astrahan/">Астрахань</a></li>
                <li><a href="/filials_barnaul/">Барнаул</a></li>
                <li><a href="/filials_vld/">Владивосток</a></li>
                <li><a href="/filials_vladimir/">Владимир</a></li>
                <li><a href="/filials_volgograd/">Волгоград</a></li>
                <li><a href="/filials_volgskyi/">Волжский</a></li>
                <li><a href="/filials_vologda/">Вологда</a></li>
                <li><a href="/filials_voroneg/">Воронеж</a></li>
                <li><a href="/filials_eburg/">Екатеринбург</a></li>
                <li><a href="/filials_izhevsk/">Ижевск</a></li>
                <li><a href="/filials_irkutsk/">Иркутск</a></li>
                <li><a href="/filials_kazan/">Казань</a></li>
                <li><a href="/filials_kaliningrad/">Калининград</a></li>
                <li><a href="/filials_komsomolsk_na_amure/">Комсомольск-на-Амуре</a></li>
                <li><a href="/filials_krasnodar/">Краснодар</a></li>
                <li><a href="/filials_krasnoyarsk/">Красноярск</a></li>
                <li><a href="/filials_lipetsk/">Липецк</a></li>
                <li><a href="/filials_magnitogorsk/">Магнитогорск</a></li>
                <li><a href="/filials_center/">Москва</a></li>
                <li><a href="/filials_nabchelny/">Набережные Челны</a></li>
                <li><a href="/filials_nv/">Нижневартовск</a></li>
                <li><a href="/filials_nnov/">Нижний Новгород</a></li>
                </ul>
                </div>

                <!--  Branches: Russia #2 -->
                <div class="col">
                <ul>
                <li><a href="/filials_novokuzneck/">Новокузнецк</a></li>
                <li><a href="/filials_nsk/">Новосибирск</a></li>
                <li><a href="/filials_norilsk/">Норильск</a></li>
                <li><a href="/filials_omsk/">Омск</a></li>
                <li><a href="/filials_perm/">Пермь</a></li>
                <li><a href="/filials_pyatigorsk/">Пятигорск, Ессентуки</a></li>
                <li><a href="/filials_rostov/">Ростов-на-Дону</a></li>
                <li><a href="/filials_ryazan/">Рязань</a></li>
                <li><a href="/filials_samara/">Самара</a></li>
                <li><a href="/filials_spb/">Санкт-Петербург</a></li>
                <li><a href="/filials_saratov/">Саратов</a></li>
                <li><a href="/filials_smolensk/">Смоленск</a></li>
                <li><a href="/filials_surgut/">Сургут</a></li>
                <li><a href="/filials_syktyvkar/">Сыктывкар</a></li>
                <li><a href="/filials_tolyaty/">Тольятти</a></li>
                <li><a href="/filials_tomsk/">Томск</a></li>
                <li><a href="/filials_tyumen/">Тюмень</a></li>
                <li><a href="/filials_baikal/">Улан-Удэ</a></li>
                <li><a href="/filials_ufa/">Уфа</a></li>
                <li><a href="/filials_khab/">Хабаровск</a></li>
                <li><a href="/filials_chel/">Челябинск</a></li>
                <li><a href="/filials_ugnosahalinsk/">Южно-Сахалинск</a></li>
                <li><a href="/filials_yaroslavl/">Ярославль</a></li>
                </ul>
                </div>

                <!-- Branches: Ukraine -->
                <div class="col">
                <h4><i class="ico-flag ico-ua"></i>Украина</h4>
                <ul>
                <li><a href="/filials_ukraine_internet/"><strong>Интернет</strong></a></li>
                <li><a href="/filials_vinnica/">Винница</a></li>
                <li><a href="/filials_dnipro/">Днепропетровск</a></li>
                <li><a href="/filials_donetsk/">Донецк</a></li>
                <li><a href="/filials_jitomir/">Житомир</a></li>
                <li><a href="/filials_ivanofrankovsk/">Ивано-Франковск</a></li>
                <li><a href="/filials_kiev/">Киев</a></li>
                <li><a href="/filials_krivoirog/">Кривой Рог</a></li>
                <li><a href="/filials_lugansk/">Луганск</a></li>
                <li><a href="/filials_lvov/">Львов</a></li>
                <li><a href="/filials_mariupol/">Мариуполь</a></li>
                <li><a href="/filials_melitopol/">Мелитополь</a></li>
                <li><a href="/filials_nikolaev/">Николаев</a></li>
                <li><a href="/filials_odessa/">Одесса</a></li>
                <li><a href="/filials_rovno/">Ровно</a></li>
                <li><a href="/filials_sevastopol/">Севастополь</a></li>
                <li><a href="/filials_simferopol/">Симферополь</a></li>
                <li><a href="/filials_sumy/">Сумы</a></li>
                <li><a href="/filials_ternopol/">Тернополь</a></li>
                <li><a href="/filials_kharkov/">Харьков</a></li>
                <li><a href="/filials_hmelnickyi/">Хмельницкий</a></li>
                <li><a href="/filials_chernigov/">Чернигов</a></li>
                <li><a href="/filials_chernovtsy/">Черновцы</a></li>
                </ul>
                </div>

                <!-- Branches: CIS -->
                <div class="col">

                <h4><i class="ico-flag ico-kz"></i>Казахстан</h4>
                <ul>
                <li><a href="/filials_kazakhstan_internet/"><strong>Интернет</strong></a></li>
                <li><a href="/filials_aktobe/">Актюбинск (Актобе)</a></li>
                <li><a href="/filials_almaty/">Алматы</a></li>
                <li><a href="/filials_astana/">Астана</a></li>
                <li><a href="/filials_karaganda/">Караганда</a></li>
                <li><a href="/filials_pavlodar/">Павлодар</a></li>
                </ul>

                <h4><i class="ico-flag ico-az"></i>Азербайджан</h4>
                <ul>
                <li><a href="/filials_baku/">Баку</a></li>
                </ul>

                <h4><i class="ico-flag ico-am"></i>Армения</h4>
                <ul>
                <li><a href="/filials_erevan/">Ереван</a></li>
                </ul>

                <h4><i class="ico-flag ico-by"></i>Беларусь</h4>
                <ul>
                <li><a href="/filials_minsk/">Минск</a></li>
                </ul>

                <h4><i class="ico-flag ico-md"></i>Молдова</h4>
                <ul>
                <li><a href="/filials_kishinev/">Кишинёв</a></li>
                </ul>

                <h4><i class="ico-flag ico-uz"></i>Узбекистан</h4>
                <ul>
                <li><a href="/filials_tashkent/">Ташкент</a></li>
                </ul>
                </div>

                </div><!-- / .row -->

            </div><!-- / .dropdown-menu -->

        </div><!-- / .sec-regional -->

        <!-- Search Form -->
        <form action="/search/" method="get" role="search" class="f-search tbl-pc">
            <input type="search" name="query" class="i-search" placeholder="Финансовые рынки для людей" required="required">
            <button type="submit">Найти</button>
        </form>



    </header>
