<nav class="main-menu slide-out slide-out-left" role="navigation">

    <form action="/search/" method="get" class="f-search mob">
        <input type="search" name="query" class="i-search" placeholder="Финансовые рынки для людей">
        <button type="submit" class="png">Найти</button>
    </form>

    <header role="banner" itemscope itemtype="http://schema.org/Organization">
        <a href="/" title="Первая страница" class="a-logo" itemprop="url"><img itemprop="logo" src="/a/img/logo/forex-club.png" height="110" width="280" alt="Forex Club — надежный форекс-брокер."></a>

        <div class="tooltip">

            <h1 itemprop="name">Forex Club</h1>

            <h2>Центральный офис:</h2>
            <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="postalCode">123022</span>
                <span itemprop="addressLocality">Россия, Москва</span>
                <span itemprop="streetAddress">Звенигородское шоссе, д. 18/20, корп. 1, этаж 5</span>
            </address>
            Тел: <span itemprop="telephone">8-800-2002-600</span>
            Email: <span itemprop="email">manager(at)forexclub.ru</span>
        </div>

    </header>

    <ul class="nav">
        <li><a href=""></a></li>
    </ul>

</nav>
