<nav class="main-menu slide-out slide-out-left" role="navigation">

    <form action="/search" method="get" class="f-search mob">
        <input type="search" name="query" class="i-search" placeholder="Финансовые рынки для людей" required="required">
        <button type="submit">Найти</button>
    </form>

    <header role="banner" itemscope itemtype="http://schema.org/Organization" class="rmb-enabled tbl-pc">
        <a href="/" title="Первая страница" class="a-logo" itemprop="url"><img itemprop="logo" src="/a/img/logo/forex-club.png" height="110" width="280" alt="Forex Club — надежный форекс-брокер."></a>

        <div class="tooltip tooltip-r tooltip-large tt-company rmb-popup">

            <h1 itemprop="name">Forex Club</h1>

            <h2>Центральный офис:</h2>
            <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="postalCode">123022</span>
            <span itemprop="addressLocality">Россия, Москва</span>
            <p itemprop="streetAddress">Звенигородское шоссе, д. 18/20, корп. 1, этаж 5</p>
            </address>
            <p><i class="ico-l ico-tel">Тел:</i> <span itemprop="telephone">8-800-2002-600</span></p>
            <p><i class="ico-l ico-email">Email:</i> <span itemprop="email">manager(at)forexclub.ru</span></p>
        </div>

    </header>

    <ul class="nav">

    <li class="mm-sign-in dropdown"><a href="/sign-in" class="mm-label dropdown-toggle pc-tbl">Вход</a>

        <div class="dropdown-menu dropdown-menu-r dropdown-menu-entitled dropdown-sign-in">
        <header class="dropdown-header">С возвращением :)</header>
        <form action="https://secure.fxclub.org/fx?plugin=login&amp;amp;lang=rus" method="post" accept-charset="UTF-8" class="f-sign-in dropdown-body">

            <label for="i-login">Email</label>
            <input type="email" name="login" id="i-login" required="required">

            <label for="i-password">Пароль<a href="//secure.fxclub.org/fx?plugin=lost_password&amp;lang=rus" id="fgtPsw" class="first-aid" rel="nofollow">Забыли?</a></label>
            <input type="text" name="password" id="i-password" required="required">

            <div class="f-actions">
                <button type="submit" class="btn btn-default">Войти</button>
                <label class="cbx cbx-stay-signed-in"><input type="checkbox" value="1" name="remember-me" checked="checked">Оставаться в системе</label>
            </div>

            <input name="formid" type="hidden" value="ContactForm">
        </form>
        </div>
    </li>

    <li class="mm-sign-up"><a href="/open-account" class="mm-label">Открыть счет</a></li>

    <li class="mm-home mob"><a href="/" class="mm-label"><i class="ico-d"></i>Главная</a>

    <li class="mm-products dropdown"><a href="/products" class="dropdown-toggle"><i class="ico-d"></i>Продукты<span class="pc-mob-inl">&nbsp;и услуги</span></a>
        <div class="dropdown-menu dropdown-menu-r sm">

            <div class="group">

            <div class="col col-first">
                <h4><a href="/accounts">Типы счетов</a></h4>
                <ul>
                <li><a href="/investitsionnie-scheta" class="sm-investor"><i class="ico-l"></i>Инвестору</a></li>
                <li><a href="/trfw" class="sm-trader"><i class="ico-l"></i>Трейдеру</a></li>
                <li><a href="/upravlyayushiy-trader" class="sm-money-manager"><i class="ico-l"></i>Управляющему</a></li>
                <li><a href="/servicepkg">Пакеты услуг</a></li>
                <li><a href="/vip">VIP-условия</a></li>
                </ul>
            </div><!-- / accounts-types -->

            <div class="col">
                <h4><a href="/tools_soft">Платформы</a></h4>
                <ul>
                <li><a href="/software/libertex">LibertEx</a></li>
                <li><a href="/tools_soft/metatrader">MetaTrader4™</a></li>
                <li><a href="/software/startfx-rumus">Другие</a></li>
                <li><a href="/tools_soft">Сравнение</a></li>
                </ul>
            </div><!-- / software -->

            </div><!-- / cfx -->

            <hr>

            <h4><a href="/markets">Торговые инструменты</a></h4>

            <div class="group">

                <ul class="col col-first">
                <li><a href="/markets/forex">Валюты / Forex</a></li>
                <li><a href="/bitcoin">Биткоин</a></li>
                <li><a href="/markets/gold-silver">Золото и серебро</a></li>
                <li><a href="/markets/neft-gaz">Нефть и газ</a></li>
                </ul>

                <ul class="col">
                <li><a href="/markets/indexes">Индексы</a></li>
                <li><a href="/markets/stock">Акции</a></li>
                <li><a href="/markets/metals">Металлы</a></li>
                <li><a href="/cfd_specification">Спецификации</a></li>
                </ul>
            </div><!-- / cfx -->

            <hr>

            <ul>
                <li><a href="/products/trading-systems">Сервисы сопровождения</a></li>
                <li><a href="/foreks-widzhety">Виджеты, расширения, экспертное ПО</a></li>
            </ul>

        </div><!-- dropdown-menu -->
    </li>


    <li class="mm-benefits dropdown"><a href="/benefits" class="dropdown-toggle"><i class="ico-d"></i><span class="pc-mob">Преимущества</span><span class="xga-tbl">Плюсы</span></a>
        <div class="dropdown-menu dropdown-menu-r sm">

            <ul>
                <li><a href="/preimushchestva-torgovli">Репутация, возможности, сервис, ПО</a></li>
                <li><a href="/istorii-uspeha">Истории успеха</a></li>
            </ul>

            <hr>

            <h4><a href="/akcii-i-bonusy">Акции и бонусы</a></h4>

            <ul>
                <li><a href="/loyalty-program">Программа лояльности</a></li>
                <li><a href="/akcii-i-bonusy/konkurs-investorov">Инвестомания — конкурс LibertEx</a></li>
                <li><a href="/akcii-i-bonusy/dynamic-start">Dynamic Start. Поехали!</a></li>
                <li><a href="/upravlyayushiy-trader/contest/about">Конкурс управляющих</a></li>
                <li><a href="/account_interest">Премия на депозит</a></li>
                <li><a href="/bonusnyi_schet">Бонусный счет</a></li>
                <li><a href="/compensation_commission">Компенсация комиссий</a></li>
                <li><a href="/trade_award">Торговая премия</a></li>
                <li><a href="/refer_a_friend">Пригласи друга!</a></li>
                <li><a href="/akcii-i-bonusy/archive">Архив акций</a></li>
            </ul><!-- / cfx -->

        </div>
    </li>

    <li class="mm-analytics dropdown"><a href="/tools_info" class="dropdown-toggle"><i class="ico-d"></i><span class="pc-mob">Новости и аналитика</span><span class="xga-tbl">Рынки</span></a>
        <ul class="dropdown-menu dropdown-menu-r sm">
            <li><a href="/invest-idei">Торговые идеи</a></li>
            <li><a href="/tools_info_quotes">Онлайн-котировки</a></li>
            <li><a href="/economcalendar">Календарь рынка</a></li>
            <li><a href="/sentiment_indicator">Индикатор настроений</a></li>
            <li><a href="/akmos-analyst-indexes">Макроэкономические показатели</a></li>
            <li><a href="/market-data/trading-strategies">Стратегии</a></li>
            <li><a href="/skolko-vy-mogli-zarabotat-na-proshloi-nedele">Возможности прошлой недели</a></li>
            <li><a href="/blog">Блог</a></li>
        </ul>
    </li>

    <li class="mm-education dropdown"><a href="/obuchenie" class="dropdown-toggle"><i class="ico-d"></i><span class="pc-mob">Обучение</span><span class="xga-tbl">Учеба</span></a>
        <div class="dropdown-menu dropdown-menu-r sm">

            <ul>
                <li><a href="/filials_dist_reg">Онлайн-семинары</a></li>
                <li><a href="/academy_lib_book">Книги и материалы по Forex</a></li>
            </ul>

            <hr>

            <h4><a href="/about_academy">Академия Forex Club</a></h4>

            <ul>
                <li><a href="/academy/packages">Программы обучения</a></li>
                <li><a href="//www.traderacademy.ru/content/individualnye-konsultacii-i-obuchenie">Индивидуальные консультации и обучение</a></li>
                <li><a href="/condition_howtrade_freeseminar">Вводный семинар по FOREX в вашем городе</a></li>
            </ul>
        </div>
    </li>

    <li class="mm-about dropdown"><a href="/about_mission" class="dropdown-toggle"><i class="ico-d"></i>О нас</a>
        <ul class="dropdown-menu dropdown-menu-r sm">
            <li><a href="/o-kompanii">Общие сведения</a></li>
            <li><a href="/branches">Филиалы</a></li>
            <li><a href="/press/novosti-kompanii">Новости</a></li>
            <li><a href="/press/fotogalereya">Фото</a></li>
            <li><a href="/pub_video">Видео</a></li>
            <li><a href="/about_vacansy">Вакансии</a></li>
            <li><a href="/about_mission/partneri">Партнёрство</a></li>
            <li><a href="/swindle">Отраслевое регулирование</a></li>
            <li><a href="/customer_service">Контакты</a></li>
        </ul>
    </li>

    <li class="mm-help dropdown"><a href="//support.fxclub.org" class="dropdown-toggle"><i class="ico-d"></i><span class="pc-mob">Справка и поддержка</span><span class="xga-tbl">Помощь</span></a>
        <ul class="dropdown-menu dropdown-menu-r sm">
            <!-- TODO: bind event via jQuery -->
            <li>
            <a href="#" id="liveagent_button_online_573a00000000R4y" onclick="liveagent.startChat('573a00000000R4y')">Онлайн-чат</a>
            <hr>
            </li>
            <li><h4><a href="/help">Справочник</a></h4>
            <ul>
                <li><a href="/about_mission/internet-trading">Что такое онлайн-трейдинг?</a></li>
                <li><a href="/how_to_deal">Как заключить первую сделку?</a></li>
                <li><a href="//support.fxclub.org/pkb_Home?l=ru&amp;c=KnowledgeBase%3AFOREX_CLUB">Торговые условия и всё для начинающиx</a></li>
                <li><a href="//support.fxclub.org/pkb_Home?l=ru&amp;c=KnowledgeBase%3ACategory3">Инвестору и Управляющему</a></li>
                <li><a href="//support.fxclub.org/pkb_Home?l=ru&amp;c=KnowledgeBase%3ACategory1">Торговые платформы</a></li>
                <li><a href="//support.fxclub.org/pkb_Home?l=ru&amp;c=KnowledgeBase%3ACategory0" target="_blank">Денежные переводы — снятие и зачисление</a></li>
                <li><a href="//support.fxclub.org/pkb_Home?gl=true&amp;l=ru&amp;c=KnowledgeGlossary%3AA">Словарь терминов</a></li>
                <li><a href="/condition_faq">F.A.Q.</a></li>
            </ul>
            </li>
        </ul>
    </li>

    </ul>

<footer><a href="/akcii-i-bonusy" class="mm-bonus dfn" title="Пополните счет и получите $200 подъемных (суть спецпредложения передается через атрибут title)"><i class="ico-d"></i><span class="pc-mob">Спец. предложение</span><span class="xga-tbl">Для вас</span></a></footer>

</nav>
