body {
    margin: 0 auto;
    max-width: 1440px
}

.lt-ie9 body {
    min-width: 1200px
}

.page {
    margin: 0 0 0 280px;
    max-width: 1160px
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .page {
        margin-left: 88px
    }
}

@media screen and (max-width:767px) {
    .page {
        margin-left: 0;
        width: 100%
    }
}

.doc-header {
    padding: 35px 9.48275862% 0
}

.sec-regional {
    position: relative;
    float: right;
    margin: 9px 0 10px
}

.lt-ie9 .sec-regional {
    width: 165px
}

.sec-regional .hdr-tel {
    display: inline-block;
    color: #797c80;
    font: 16px Roboto,Arial,sans-serif;
    text-decoration: none;
    vertical-align: middle
}

.sec-regional .hdr-tel:before {
    display: inline-block;
    margin: -1px 7px 0 0;
    width: 9px;
    height: 14px;
    background: url(../img/global/icons/phone.png) -9px 0 no-repeat;
    content: "";
    vertical-align: middle
}

.sec-regional .lang-current {
    position: relative;
    display: inline-block;
    margin: -1px 0 0 15px;
    vertical-align: middle
}

.sec-regional .lang-current:after {
    position: absolute;
    top: 50%;
    right: -12px;
    margin: -1px 0 0 0;
    width: 8px;
    height: 4px;
    background: url("data:image/gif;base64,R0lGODlhCAAEAKIEANPW2unr7enq7Orr7f+AAAAAAAAAAAAAACH5BAEAAAQALAAAAAAIAAQAAAMMOLAcFAw48takT+AEADs=") 0 0 no-repeat;
    content: ""
}

.sec-regional .hdr-affiliate-dropdown {
    position: absolute;
    top: 35px;
    right: 8px;
    z-index: 1;
    padding: 30px 34px 19px;
    width: 570px;
    background: #f1f4f7;
    border: 1px solid #e5e6ea;
    -webkit-border-radius: 3px 0 3px 3px;
    -moz-border-radius: 3px 0 3px 3px;
    border-radius: 3px 0 3px 3px;
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.08);
    -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.08);
    box-shadow: 0 4px 8px rgba(0,0,0,0.08)
}

.sec-regional .hdr-affiliate-dropdown:before,.sec-regional .hdr-affiliate-dropdown:after {
    position: absolute;
    content: ""
}

.sec-regional .hdr-affiliate-dropdown:before {
    top: -12px;
    right: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px;
    border-color: transparent #e5e6ea transparent transparent
}

.sec-regional .hdr-affiliate-dropdown:after {
    top: -10px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px;
    border-color: transparent #f1f4f7 #f1f4f7 transparent
}

.sec-regional .lang-list {
    margin: 0;
    padding: 0 0 16px;
    border-bottom: 1px solid #d3d6da;
    -webkit-box-shadow: 0 1px 0 0 #fff;
    -moz-box-shadow: 0 1px 0 0 #fff;
    box-shadow: 0 1px 0 0 #fff
}

.sec-regional .lang-list>li {
    display: inline-block;
    list-style: none
}

.sec-regional .lang-list a,.sec-regional .lang-list span {
    display: block;
    padding: 5px 14px 6px;
    border-left: 1px solid #d3d6da
}

.sec-regional .lang-list>li:first-child a {
    border-left: none
}

.sec-regional .lang-list .active span {
    background: #e4eaf0;
    border-left: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.sec-regional .lang-list .active+li>a {
    border-left: none
}

.sec-regional .hdr-affiliates {
    display: table
}

.sec-regional .hdr-affiliates-col {
    display: table-cell;
    padding-left: 20px;
    width: 120px
}

.sec-regional .hdr-affiliates-col:first-child {
    padding-left: 0
}

.sec-regional .hdr-affiliates-col h4 {
    margin: 1em 0 .5em -11px
}

.sec-regional .hdr-affiliates-col ul {
    margin: 0;
    padding: 0
}

.sec-regional .hdr-affiliates-col li {
    padding-left: 10px;
    list-style: none;
    background: url("data:image/gif;base64,R0lGODlhAwADAJEAAIiLj5WYnMPGygAAACH5BAAAAAAALAAAAAADAAMAAAIEVAx3BQA7") 0 .7em no-repeat
}

.sec-regional .lang-ico-bef:before {
    margin-right: 5px
}

.f-search {
    position: relative;
    float: left;
    padding: 0 45px 0 18px;
    width: 59%;
    border: 1px solid #d3d6da;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.f-search .i-search {
    padding: 0;
    width: 100%;
    height: 40px;
    background: none;
    border: none;
    outline: none;
    line-height: 40px
}

.f-search .btn-search {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -19px;
    padding: 0;
    width: 42px;
    height: 38px;
    background: url(../img/global/icons/magnifier.png) 50% 11px no-repeat;
    border: none;
    border-left: 1px solid #d3d6da;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.page-header {
    float: left;
    clear: both;
    margin-top: 30px;
    margin-left: -11.70212766%;
    padding: 60px 11.70212766% 50px;
    width: 123.40425532%;
    background: #ff8000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff
}

.page-header>h1 {
    float: left;
    margin: 0;
    font: 300 24px/33px Roboto,Arial,sans-serif
}

.page-header .in-page-nav {
    float: right;
    margin-right: -10px
}

.page-header .in-page-nav ul {
    margin: 0;
    padding: 0
}

.page-header .in-page-nav li {
    float: left;
    list-style: none
}

.page-header .in-page-nav a {
    display: block;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none
}

.page-header .in-page-nav a:hover {
    background-color: #ff7300
}

.page-header .in-page-nav .invest-faq-item a {
    width: 24px;
    background-image: url(../img/global/icons/question-mark.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-indent: -9999px
}

@media screen and (max-width:1199px) {
    .page-header .in-page-nav {
        position: relative;
        width: 290px
    }

    .page-header .in-page-nav .short-nav .selected-section {
        float: left;
        padding: 10px 12px;
        width: 215px;
        background: #ff7300;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        cursor: pointer
    }

    .page-header .in-page-nav .short-nav .selected-section:before {
        float: right;
        margin-top: 9px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 4px;
        border-color: #ffb070 transparent transparent;
        content: ""
    }

    .page-header .in-page-nav .short-nav .invest-faq-item {
        float: right
    }

    .page-header .in-page-nav ul {
        position: absolute;
        top: 42px;
        left: 0;
        z-index: 1;
        display: none;
        width: 237px;
        background: #fff;
        border: 1px solid #ff7300;
        -webkit-border-radius: 0 0 3px 3px;
        -moz-border-radius: 0 0 3px 3px;
        border-radius: 0 0 3px 3px
    }

    .page-header .in-page-nav ul>li {
        float: none
    }

    .page-header .in-page-nav ul a {
        padding: 10px 12px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        color: #515458
    }

    .page-header .in-page-nav ul a:hover {
        color: #fff
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .doc-header {
        padding-top: 20px;
        padding-right: 5.88235294%;
        padding-left: 5.88235294%
    }

    .sec-regional {
        float: left
    }

    .sec-regional .hdr-affiliate-dropdown {
        right: auto;
        left: 0
    }

    .sec-regional .hdr-affiliate-dropdown:before,.sec-regional .hdr-affiliate-dropdown:after {
        right: auto;
        left: 143px
    }

    .sec-regional .hdr-affiliate-dropdown:before {
        top: -24px;
        border-color: transparent transparent #e5e6ea transparent
    }

    .sec-regional .hdr-affiliate-dropdown:after {
        top: -23px;
        border-color: transparent transparent #f1f4f7 transparent
    }

    .f-search {
        clear: both;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

    .page-header {
        margin-top: 22px;
        margin-left: -6.66666667%;
        padding: 45px 6.66666667% 45px;
        width: 113.33333333%
    }
}

@media screen and (max-width:767px) {
    .doc-header {
        padding: 8px 14px 8px 8px;
        background: #3d4044;
        background: url(data:image/svg+xml;
        base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkNDA0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjMzMzNjNhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiMzMjM1MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3OSUiIHN0b3AtY29sb3I9IiMyMjI1MjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiMyMDIzMjciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTUxODFjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3d4044),color-stop(2%, #33363a),color-stop(5%, #323539),color-stop(79%, #222529),color-stop(98%, #202327),color-stop(100%, #15181c));
        background: -moz-linear-gradient(top, #3d4044 0,#33363a 2%,#323539 5%,#222529 79%,#202327 98%,#15181c 100%);
        background: -webkit-linear-gradient(top, #3d4044 0,#33363a 2%,#323539 5%,#222529 79%,#202327 98%,#15181c 100%);
        background: -o-linear-gradient(top, #3d4044 0,#33363a 2%,#323539 5%,#222529 79%,#202327 98%,#15181c 100%);
        background: -ms-linear-gradient(top, #3d4044 0,#33363a 2%,#323539 5%,#222529 79%,#202327 98%,#15181c 100%);
        background: linear-gradient(to bottom, #3d4044 0,#33363a 2%,#323539 5%,#222529 79%,#202327 98%,#15181c 100%)
    }

    .lt-ie9 .doc-header {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d4044", endColorstr="#15181c", GradientType=0)
    }

    .doc-header .toggle-menu {
        display: inline-block;
        width: 116px;
        height: 28px;
        background: url(../img/global/logo-mob.png) 6px 0 no-repeat;
        font-size: 0;
        line-height: 28px;
        vertical-align: middle
    }

    .doc-header .toggle-menu:before {
        display: inline-block;
        width: 2px;
        height: 9px;
        background: url("data:image/gif;base64,R0lGODlhAgAJALMAAGhrb2xvcyYpLV1gZFpdYVteYigrL1xfYzo9QQAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAACAAkAAAQNcIxSjEEoACzEOQQRAQA7") 0 0 no-repeat;
        content: "";
        vertical-align: middle
    }

    .sec-regional {
        margin: 4px 0 0
    }

    .sec-regional .hdr-tel {
        color: #65686c;
        font: 13px Arial,sans-serif
    }

    .sec-regional .hdr-tel:before {
        background-position: 0 0
    }

    .sec-regional .lang-current:after {
        right: -6px;
        margin: -4px 0 0 0;
        width: 2px;
        height: 9px;
        background: url("data:image/gif;base64,R0lGODlhAgAJALMAAGhrb2xvcyYpLV1gZFpdYVteYigrL1xfYzo9QQAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAACAAkAAAQNcIxSjEEoACzEOQQRAQA7") 0 0 no-repeat
    }

    .page-header {
        margin: 8px 0 -8px -8px;
        padding: 10px 14px 10px 8px;
        width: 100%;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box
    }

    .page-header>h1 {
        font: bold 15px/22px Arial,sans-serif
    }

    .page-header .in-page-nav {
        float: left;
        width: auto
    }

    .page-header .in-page-nav .short-nav .selected-section {
        margin-left: 10px;
        padding: 0;
        width: auto;
        background: none;
        color: rgba(255,255,255,0.64);
        font-weight: bold
    }

    .page-header .in-page-nav .short-nav .selected-section:before {
        content: none
    }

    .page-header .in-page-nav ul {
        top: 22px;
        width: 180px
    }
}

.doc-footer {
    padding: 50px 9.48275862%;
    font-size: 13px
}

.doc-footer .legal-info {
    float: left;
    margin-right: 15px;
    max-width: 23%
}

.doc-footer .footer-copyright {
    color: #abaeb2
}

.doc-footer .footer-logo {
    margin: 7px 0 0 7px;
    vertical-align: top
}

.doc-footer .legal-links {
    font-family: Roboto,Arial,sans-serif
}

.doc-footer .latest-activity {
    float: right;
    margin-left: 15px;
    max-width: 230px;
    font-family: Roboto,Arial,sans-serif
}

.doc-footer .latest-activity-list dt {
    float: left;
    clear: left;
    color: #7380d9;
    font-weight: bold
}

.doc-footer .latest-activity-list dd {
    margin: 0 0 20px;
    text-indent: .5em
}

.doc-footer .third-party {
    margin-left: 25%;
    width: 390px;
    color: #abaeb2;
    font-family: Roboto,Arial,sans-serif
}

.doc-footer .third-party dt {
    margin: 0 0 5px
}

.doc-footer .third-party dd {
    margin: 0 0 15px
}

.doc-footer .payment-security {
    margin: 0 0 -5px;
    padding: 0;
    list-style: none;
    font-size: 0;
    line-height: 0
}

.doc-footer .payment-security>li {
    display: inline-block;
    margin: 0 0 5px 11px;
    vertical-align: top
}

.doc-footer .payment-security>li:first-child {
    margin-left: 0
}

.doc-footer .payment-security .visa-mc,.doc-footer .payment-security .verisign,.doc-footer .payment-security .pci {
    display: block;
    height: 32px;
    background: url(../img/global/payment-security.png) -10000px -10000px no-repeat;
    text-indent: -9999px
}

.doc-footer .payment-security .visa-mc {
    width: 90px;
    background-position: 0 0
}

.doc-footer .payment-security .visa-mc:hover {
    background-position: 0 -32px
}

.doc-footer .payment-security .verisign {
    width: 80px;
    background-position: -90px 0
}

.doc-footer .payment-security .verisign:hover {
    background-position: -90px -32px
}

.doc-footer .payment-security .pci {
    width: 110px;
    background-position: -170px 0
}

.doc-footer .payment-security .pci:hover {
    background-position: -170px -32px
}

.doc-footer .payment-security .mcafee {
    vertical-align: middle
}

.doc-footer .share-btns,.doc-footer .social-btns {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    line-height: 0
}

.doc-footer .share-btns>li,.doc-footer .social-btns>li {
    display: inline-block
}

.doc-footer .share-btns>li:first-child,.doc-footer .social-btns>li:first-child {
    margin-left: 0
}

.doc-footer .share-btns a,.doc-footer .social-btns a {
    display: block;
    text-indent: -9999px
}

.doc-footer .share-btns>li {
    margin: 0 0 1px 1px
}

.doc-footer .share-btns a {
    width: 69px;
    height: 18px;
    background: url(../img/global/share-btns.png) -10000px -10000px no-repeat
}

.doc-footer .share-btns .fb-btn {
    background-position: 0 0
}

.doc-footer .share-btns .tw-btn {
    background-position: -70px 0
}

.doc-footer .share-btns .ggl-btn {
    background-position: -140px 0
}

.doc-footer .share-btns .lin-btn {
    background-position: -210px 0
}

.doc-footer .share-btns .vk-btn {
    background-position: -280px 0
}

.doc-footer .social-btns>li {
    margin: 0 0 0 12px
}

.doc-footer .social-btns a {
    width: 18px;
    height: 18px;
    background: url(../img/global/social-btns.png) -10000px -10000px no-repeat
}

.doc-footer .social-btns .fb-btn {
    background-position: 0 0
}

.doc-footer .social-btns .ggl-btn {
    background-position: -18px 0
}

.doc-footer .social-btns .lin-btn {
    background-position: -36px 0
}

.doc-footer .social-btns .vk-btn {
    background-position: -54px 0
}

.doc-footer .social-btns .rss-btn {
    background-position: -72px 0
}

.doc-footer .social-btns .mail-btn {
    background-position: -90px 0
}

.doc-footer .social-btns .tw-btn {
    width: 20px;
    background-position: -108px 0
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .doc-footer {
        padding: 50px 5.88235294%
    }

    .doc-footer .third-party {
        float: right;
        margin: 0
    }
}

@media screen and (max-width:767px) {
    .doc-footer {
        padding: 50px 6.25%;
        text-align: center
    }

    .doc-footer .legal-info,.doc-footer .third-party {
        float: none;
        margin: 0;
        width: auto;
        max-width: none
    }
}

.main-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 280px;
    background: #1f2226;
    color: #797c80
}

.main-menu-hdr {
    padding: 45px 30px 23px 40px;
    background: #25282c
}

.main-menu-hdr .main-logo {
    display: block;
    width: 133px;
    height: 43px;
    background: url(../img/global/logo.png) 0 0 no-repeat;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px
}

.main-nav {
    margin: 65px 0 0;
    padding: 0 20px
}

.main-nav>li {
    position: relative;
    clear: both;
    margin-bottom: 5px;
    list-style: none
}

.main-nav>li>a {
    display: block;
    padding: 8px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #797c80;
    line-height: 18px;
    text-decoration: none
}

.main-nav>li>a:hover,.main-nav>li>a.active {
    color: #b5b8bb
}

.main-nav>li>a:before {
    display: inline-block;
    width: 30px;
    height: 21px;
    margin-right: 10px;
    background: url(../img/global/icons/main-nav-icons.png) -10000px -10000px no-repeat;
    content: "";
    vertical-align: middle
}

li.main-nav-login-item,li.main-nav-acc-item {
    float: left;
    clear: none
}

li.main-nav-login-item>a,li.main-nav-acc-item>a {
    padding-bottom: 8px;
    background: #25282c
}

li.main-nav-login-item>a:before,li.main-nav-acc-item>a:before {
    content: none
}

li.main-nav-acc-item {
    margin-left: 1px
}

li.main-nav-acc-item>a {
    padding-right: 34px;
    padding-left: 34px
}

li.main-nav-home-item>a:before {
    background-position: 0 -284px
}

li.main-nav-home-item>a:hover:before,li.main-nav-home-item>a.active:before {
    background-position: -40px -284px
}

li.main-nav-products-item>a:before {
    background-position: 0 -5px
}

li.main-nav-products-item>a:hover:before,li.main-nav-products-item>a.active:before {
    background-position: -40px -5px
}

li.main-nav-benefits-item>a:before {
    background-position: 0 -45px
}

li.main-nav-benefits-item>a:hover:before,li.main-nav-benefits-item>a.active:before {
    background-position: -40px -45px
}

li.main-nav-analytics-item>a:before {
    background-position: 0 -85px
}

li.main-nav-analytics-item>a:hover:before,li.main-nav-analytics-item>a.active:before {
    background-position: -40px -85px
}

li.main-nav-edu-item>a:before {
    background-position: 0 -125px
}

li.main-nav-edu-item>a:hover:before,li.main-nav-edu-item>a.active:before {
    background-position: -40px -125px
}

li.main-nav-about-item>a:before {
    background-position: 0 -165px
}

li.main-nav-about-item>a:hover:before,li.main-nav-about-item>a.active:before {
    background-position: -40px -165px
}

li.main-nav-support-item>a:before {
    background-position: 0 -205px
}

li.main-nav-support-item>a:hover:before,li.main-nav-support-item>a.active:before {
    background-position: -40px -205px
}

.has-submenu>a {
    background: url("data:image/gif;base64,R0lGODlhBQAJAKIAAB8iJjY5PS8yNisuMiAjJyYpLTU4PCMmKiH5BAAAAAAALAAAAAAFAAkAAAMReLBgxSGMFYMg1dYbZ3uLwiQAOw==") 98% 50% no-repeat
}

.has-submenu>a:hover,.has-submenu>a.active {
    background-image: url("data:image/gif;base64,R0lGODlhBQAJALMAAB8iJrW4u4iLjiAjJ62ws7S3uicqLjc6Pk9SVSgrL01QVGtucYeKjWtucjg7PwAAACH5BAAAAAAALAAAAAAFAAkAAAQX8IAJiKKhrAGCF4bnMaKQZA1HIJRDAREAOw==")
}

.main-menu-foot {
    position: absolute;
    bottom: 0;
    width: 100%
}

.main-menu-foot .exclusive-offer {
    display: block;
    padding: 25px 15px 15px 43px;
    background: #25282c;
    color: #fff;
    text-decoration: none
}

.main-menu-foot .exclusive-offer:before {
    display: inline-block;
    margin: -2px 15px 0 0;
    width: 20px;
    height: 20px;
    background: url(../img/global/icons/main-nav-icons.png) -7px -245px no-repeat;
    content: "";
    vertical-align: middle
}

.main-menu-foot .exclusive-offer:hover:before {
    background-position: -47px -245px
}

@media screen and (min-width:768px) {
    .main-nav-submenu {
        position: absolute;
        top: -25px;
        left: 100%;
        z-index: 1;
        margin-left: 10px;
        padding: 30px;
        min-width: 360px;
        background: #f1f4f8;
        border: #e5e6ea;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
        -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08)
    }

    .main-nav-submenu:before {
        position: absolute;
        top: 35px;
        left: -16px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 8px;
        border-color: transparent #f1f4f8 transparent transparent;
        content: ""
    }

    .main-nav-submenu a {
        color: #515458
    }

    .main-nav-product-lists h4 {
        margin: 0
    }

    .main-nav-product-lists .acc-type-products,.main-nav-product-lists .platform-products {
        float: left;
        padding: 0 0 20px 30px;
        width: 140px
    }

    .main-nav-product-lists .platform-products {
        float: right
    }

    .main-nav-product-lists .mng-products,.main-nav-product-lists .trader-products,.main-nav-product-lists .investor-products {
        list-style: none
    }

    .main-nav-product-lists .mng-products>a:before,.main-nav-product-lists .trader-products>a:before,.main-nav-product-lists .investor-products>a:before {
        display: inline-block;
        margin: 0 7px 0 -30px;
        width: 23px;
        height: 18px;
        background: url(../img/global/icons/main-nav-icons.png) -10000px -10000px no-repeat;
        content: "";
        vertical-align: middle
    }

    .main-nav-product-lists .mng-products>a:before {
        background-position: -86px -5px
    }

    .main-nav-product-lists .trader-products>a:before {
        background-position: -86px -46px
    }

    .main-nav-product-lists .investor-products>a:before {
        background-position: -86px -87px
    }

    .main-nav-product-lists .trade-products {
        clear: both;
        padding: 20px 0 0 30px;
        border-top: 1px solid #d3d6da;
        -webkit-box-shadow: 0 1px 0 0 #fff inset;
        -moz-box-shadow: 0 1px 0 0 #fff inset;
        box-shadow: 0 1px 0 0 #fff inset
    }

    .lt-ie9 .main-nav-product-lists .trade-products {
        background: url("data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==") 0 0 repeat-x
    }

    .main-nav-product-lists .trade-products .product-list {
        float: left;
        width: 140px
    }

    .main-nav-product-lists .trade-products .product-list.last {
        float: right
    }

    .main-nav-product-lists .product-list {
        padding: 0
    }

    .main-nav-product-lists .product-list>li {
        margin: .7em 0
    }
}

.lt-ie9 .main-nav-submenu {
    position: absolute;
    top: -25px;
    left: 100%;
    z-index: 1;
    margin-left: 10px;
    padding: 30px;
    min-width: 360px;
    background: #f1f4f8;
    border: #e5e6ea;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08)
}

.lt-ie9 .main-nav-submenu:before {
    position: absolute;
    top: 35px;
    left: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px;
    border-color: transparent #f1f4f8 transparent transparent;
    content: ""
}

.lt-ie9 .main-nav-submenu a {
    color: #515458
}

.lt-ie9 .main-nav-product-lists h4 {
    margin: 0
}

.lt-ie9 .main-nav-product-lists .acc-type-products,.lt-ie9 .main-nav-product-lists .platform-products {
    float: left;
    padding: 0 0 20px 30px;
    width: 140px
}

.lt-ie9 .main-nav-product-lists .platform-products {
    float: right
}

.lt-ie9 .main-nav-product-lists .mng-products,.lt-ie9 .main-nav-product-lists .trader-products,.lt-ie9 .main-nav-product-lists .investor-products {
    list-style: none
}

.lt-ie9 .main-nav-product-lists .mng-products>a:before,.lt-ie9 .main-nav-product-lists .trader-products>a:before,.lt-ie9 .main-nav-product-lists .investor-products>a:before {
    display: inline-block;
    margin: 0 7px 0 -30px;
    width: 23px;
    height: 18px;
    background: url(../img/global/icons/main-nav-icons.png) -10000px -10000px no-repeat;
    content: "";
    vertical-align: middle
}

.lt-ie9 .main-nav-product-lists .mng-products>a:before {
    background-position: -86px -5px
}

.lt-ie9 .main-nav-product-lists .trader-products>a:before {
    background-position: -86px -46px
}

.lt-ie9 .main-nav-product-lists .investor-products>a:before {
    background-position: -86px -87px
}

.lt-ie9 .main-nav-product-lists .trade-products {
    clear: both;
    padding: 20px 0 0 30px;
    border-top: 1px solid #d3d6da;
    -webkit-box-shadow: 0 1px 0 0 #fff inset;
    -moz-box-shadow: 0 1px 0 0 #fff inset;
    box-shadow: 0 1px 0 0 #fff inset
}

.lt-ie9 .lt-ie9 .main-nav-product-lists .trade-products {
    background: url("data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==") 0 0 repeat-x
}

.lt-ie9 .main-nav-product-lists .trade-products .product-list {
    float: left;
    width: 140px
}

.lt-ie9 .main-nav-product-lists .trade-products .product-list.last {
    float: right
}

.lt-ie9 .main-nav-product-lists .product-list {
    padding: 0
}

.lt-ie9 .main-nav-product-lists .product-list>li {
    margin: .7em 0
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .main-menu {
        width: 88px
    }

    .main-menu-hdr {
        padding: 20px 0 35px
    }

    .main-menu-hdr .main-logo {
        margin: 0 auto;
        width: 59px;
        height: 68px;
        background-image: url(../img/global/logo-tbl.png)
    }

    .main-nav {
        margin: 0;
        padding: 0
    }

    .main-nav>li {
        margin: 0
    }

    .main-nav>li>a {
        padding: 10px 5px;
        min-height: 44px;
        border-top: 1px solid #2f3236;
        border-bottom: 1px solid #1b1e22;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        font-size: 13px;
        text-align: center
    }

    .main-nav>li>a:before {
        display: block;
        margin: 0 auto
    }

    .main-nav>li>a[data-tbl-text] {
        font-size: 0
    }

    .main-nav>li>a[data-tbl-text]:after {
        font-size: 13px;
        content: attr(data-tbl-text)
    }

    li.main-nav-login-item,li.main-nav-acc-item {
        float: none
    }

    li.main-nav-login-item>a,li.main-nav-acc-item>a {
        padding-top: 20px;
        padding-bottom: 0
    }

    li.main-nav-acc-item {
        margin-left: 0
    }

    li.main-nav-acc-item>a {
        padding-top: 15px;
        padding-bottom: 5px
    }

    .main-nav-submenu:before {
        top: 50px
    }

    .main-menu-foot .exclusive-offer {
        padding: 25px 0 15px;
        font-size: 0;
        text-align: center
    }

    .main-menu-foot .exclusive-offer:before {
        display: block;
        margin: 0 auto
    }

    .main-menu-foot .exclusive-offer:after {
        font-size: 13px;
        content: attr(data-tbl-text)
    }
}

@media screen and (max-width:767px) {
    .main-menu {
        position: absolute;
        top: 0;
        left: -280px;
        bottom: auto;
        min-height: 100%
    }

    .main-menu-hdr {
        padding: 0
    }

    .f-search-mob {
        position: relative;
        padding: 2px 45px 2px 18px;
        background: #33363a;
        -webkit-box-shadow: 0 12px 24px 0 rgba(0,0,0,0.24) inset;
        -moz-box-shadow: 0 12px 24px 0 rgba(0,0,0,0.24) inset;
        box-shadow: 0 12px 24px 0 rgba(0,0,0,0.24) inset
    }

    .f-search-mob .i-search {
        padding: 0;
        width: 100%;
        height: 40px;
        background: none;
        border: none;
        outline: none;
        color: #fff;
        font-size: 13px;
        line-height: 40px
    }

    .f-search-mob .i-search::-webkit-input-placeholder {
        color: #797c80;
        opacity: 1
    }

    .f-search-mob .i-search:-moz-placeholder {
        color: #797c80;
        opacity: 1
    }

    .f-search-mob .i-search::-moz-placeholder {
        color: #797c80;
        opacity: 1
    }

    .f-search-mob .i-search:-ms-input-placeholder {
        color: #797c80;
        opacity: 1
    }

    .f-search-mob .btn-search {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -19px;
        padding: 0;
        width: 42px;
        height: 38px;
        background: url(../img/global/icons/magnifier.png) 50% 11px no-repeat;
        border: none;
        border-left: 1px solid #797c81
    }

    .main-nav {
        margin: 30px 0 65px
    }

    .has-submenu>a,.has-submenu>a:hover,.has-submenu>a.active {
        background: none
    }

    .main-nav-submenu h4 {
        margin: 0;
        font-weight: normal
    }

    .main-nav-submenu h4 a {
        background: url(../img/global/lists/o-arr.png) 32px 50% no-repeat
    }

    .main-nav-submenu ul {
        padding-left: 0;
        list-style: none
    }

    .main-nav-submenu li {
        margin-bottom: 5px
    }

    .main-nav-submenu a {
        display: block;
        padding: 8px 0 8px 60px;
        background: url(../img/global/lists/g-arr.png) 32px 50% no-repeat;
        color: #797c80;
        line-height: 18px;
        text-decoration: none
    }

    .main-nav-submenu a:hover,.main-nav-submenu a.active {
        color: #b5b8bb;
        text-decoration: none
    }

    .page {
        border-left: 0 solid #1f2226
    }

    .mob-menu-pull .page {
        border-left-width: 280px;
        -webkit-transition: border-left-width .5s;
        -moz-transition: border-left-width .5s;
        transition: border-left-width .5s
    }

    .mob-menu-pull .main-menu {
        left: 0;
        -webkit-transition: left .5s;
        -moz-transition: left .5s;
        transition: left .5s
    }

    .mob-menu-push .page {
        border-left-width: 0;
        -webkit-transition: border-left-width .5s;
        -moz-transition: border-left-width .5s;
        transition: border-left-width .5s
    }

    .mob-menu-push .main-menu {
        left: -280px;
        -webkit-transition: left .5s;
        -moz-transition: left .5s;
        transition: left .5s
    }
}

@media screen and (min-width:1200px) and (max-height:530px) {
    .main-menu-foot {
        display: none
    }
}

@media screen and (min-width:768px) and (max-width:1199px) and (max-height:740px) {
    .main-menu-foot {
        display: none
    }
}
